Here are your DB's <button mat-button color="warn" (click)="addDB()">add DB <mat-icon>add_circle</mat-icon>
</button>
<hr>
<div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>
<mat-accordion class="example-headers-align" multi *ngFor="let db of dbs">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{db[0]}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-icon-button color="accent" (click)="addTable(db[0])" aria-label="Add table">
            <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="dropDB(db[0])" aria-label="Drop DB">
            <mat-icon>delete_forever</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="downloadDB(db[0])" aria-label="Download DB">
            <mat-icon>get_app</mat-icon>
        </button>
        <hr>
        <mat-selection-list #dbs_selected [multiple]="false">
            <mat-list-option *ngFor="let table of db[1]" [value]="table" (click)="dbTableCheked(dbs_selected.selectedOptions.selected[0]?.value)">
                <span>
                    {{table}}
                    <button mat-icon-button color="accent" (click)="dropTable(table, db[0])" aria-label="Drop table">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </span>
            </mat-list-option>
        </mat-selection-list>

    </mat-expansion-panel>
</mat-accordion>