Here are your DB's <button mat-button color="primary" (click)="addDB()">add DB <mat-icon>
        add_circle</mat-icon></button>
<mat-divider></mat-divider>
<mat-accordion class="example-headers-align" multi *ngFor="let db of dbs">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{db[0]}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button class="example-action-buttons" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon> See options</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addTable(db[0])" aria-label="Add table">
                <mat-icon>add_circle</mat-icon> Add table
            </button>
            <button mat-menu-item (click)="dropDB(db[0])" aria-label="Drop DB">
                <mat-icon>delete_forever</mat-icon> Drop
            </button>
            <button mat-menu-item (click)="downloadDB(db[0])" aria-label="Download DB">
                <mat-icon>get_app</mat-icon> Download
            </button>
        </mat-menu>
        <mat-selection-list #dbs_selected [multiple]="false">
            <mat-list-option *ngFor="let table of db[1]" [value]="table"
                (click)="drawer.toggle(); dbTableCheked(dbs_selected.selectedOptions.selected[0]?.value, db[0])">
                <span>
                    {{table}}
                    <button mat-icon-button color="warn" (click)="dropTable(table, db[0])" aria-label="Drop table">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </span>
            </mat-list-option>
        </mat-selection-list>
    </mat-expansion-panel>
</mat-accordion>