<h1 mat-dialog-title>Add a new DB!</h1>
<div mat-dialog-content>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>DB name</mat-label>
            <input matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher"
                placeholder="Write your DB name here" [(ngModel)]="name">
            <mat-hint>It looks okey!</mat-hint>
            <mat-error *ngIf="nameFormControl.hasError('required')">
                DB name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </form>
</div>
<br>
<div class="text-center">
    <button mat-raised-button color="accent" (click)="onNoClick()">No Thanks <mat-icon>close</mat-icon></button>
    <button mat-raised-button color="primary" (click)="addDB()">Add <mat-icon>add</mat-icon></button>
</div>