<br>
<div *ngIf="activeTables">
    <div class="example-button-row" *ngIf="activeTables">
        <button mat-stroked-button color="accent" (click)="openAddColumnDialog()">Add column<mat-icon>
                add_circle_outline
            </mat-icon></button>
        <button mat-stroked-button color="accent" (click)="openDropColumnDialog()">Drop column<mat-icon>
                delete_outline
            </mat-icon></button>
        <button mat-stroked-button color="accent" (click)="openAddRuleDialog()">Add rule<mat-icon>
                add_circle_outline
            </mat-icon></button>
        <button mat-stroked-button color="accent" (click)="openDropRuleDialog()">Drop rule<mat-icon>
                delete_outline
            </mat-icon></button>
    </div>
    <br>
    <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" *ngIf="dataSource">
            <div *ngFor="let item of displayedColumns">
                <ng-container matColumnDef={{item}}>
                    <th mat-header-cell *matHeaderCellDef> {{item}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[lengthColumns[item]]}} </td>
                </ng-container>
            </div>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div *ngIf="isCharging" class="loading">
        <mat-spinner></mat-spinner>
    </div>
</div>