<mat-drawer-container class="example-container" [hasBackdrop]="hasBackdrop.value">
  <input type="hidden" #hasBackdrop value="True">
  <input type="hidden" #mode value="True">

  <mat-drawer #drawer [mode]="mode.value">
    <div *ngIf="isLoged==true;else notLoggedSidebar">

      <p>
        You are logged! <button mat-button color="warn" (click)="logOut()">Log-out <mat-icon>exit_to_app</mat-icon>
        </button>
      </p>
      <br>
      <app-tree-table></app-tree-table>
    </div>

    <ng-template #notLoggedSidebar>
      <h3>
        <mat-icon>error</mat-icon> You need to be logged to see your DB's!
      </h3>
    </ng-template>
  </mat-drawer>

  <mat-drawer-content>
    <button mat-raised-button class="button-menu" (click)="drawer.toggle(); checkLoged();">
      <mat-icon>menu_open</mat-icon>
    </button>
    <div *ngIf="isLoged==true;else notLoggedContent">

      <h1>ok</h1>

    </div>

    <ng-template #notLoggedContent>
      <br>
      <app-login class="login-alignement"></app-login>
    </ng-template>

  </mat-drawer-content>
</mat-drawer-container>


<router-outlet></router-outlet>